/* Element Selector */
p {
    color: red;
}

/* Class Selector */
.intro {
    color: blue;
}

/* ID Selector */
#bio {
    font-size: 18px;
}

/* Specificity Challenge Explanation:
    The ".intro-p" class rule "wins" over the "p" element rule.
    I have left this conflict here to show that the text is blue because class selectors 
    have a higher specificity score than general element selectors. 
*/

header {
    background-color: #f0f0f0;
    padding: 10px;
}

/* flexbox code */
.nav-container {
display: flex;
    justify-conteent: space-between;
align-items: center;
}
.logoName {
    font-size: 24px; font-weight: bold;
}
.linksRight a {
padding: 15px;
    background-color: lightgray;
}
.linksRight a:hover {
    background-color: yellow;
}

/* grid showcase code */
.grid-stuff {
    display: grid;
grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
.grid-item {
    border: 1px solid black;
padding: 10px;
}

#projects {
margin-top: 800px;
}

/* media query for mobile devices code */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
    }
    .grid-stuff {
        grid-template-columns: auto;
    }
    p {
        font-size: 14px;
    }
    .logoName {
        font-size: 30px;
    }
}
